fastapi
python-multipart
uvicorn[standard]
pydantic
python-dotenv
python-docx
PyMuPDF
paddleocr
paddlepaddle
qdrant-client
sentence-transformers
rank_bm25
pyvi
google-generativeai
beautifulsoup4
requests
apscheduler
networkx
onnxruntime
transformers
slowapi