fastapi
python-multipart
uvicorn[standard]
pydantic
python-dotenv
python-docx
PyMuPDF
paddleocr
paddlepaddle
faiss-cpu
sentence-transformers
rank_bm25
pyvi
google-generativeai
beautifulsoup4
requests
apscheduler
networkx